<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />

<link rel="stylesheet" href="/assets/css/styles.css" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

<meta
  itemprop="description"
  name="description"
  content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}"
/>

<!--FB OG-->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta
  property="og:title"
  content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{{ site.url }}/{{ page.image }}" />
<meta property="og:site_name" content="Keith Doggett" />
<!-- <meta property="article:publisher" content="http://www.facebook.com/webjeda" /> -->
<!-- <meta property="article:author" content="https://www.facebook.com/sharu725" /> -->
<meta property="article:published_time" content="{{ page.date }}" />
<meta
  property="og:description"
  content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
/>

<!--Twitter Card-->
<meta name="twitter:card" content="summary_large_image" />
<meta
  name="twitter:title"
  content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
/>
<meta
  name="twitter:description"
  content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}"
/>
<!-- <meta name="twitter:site" content="@webjeda" />
<meta name="twitter:creator" content="@sharathdt" /> -->
<meta name="twitter:card" content="summary" />

<title>
  {%if page.title %} {{ page.title }} - {{site.title}} {% else %} {{ site.title
  }} {% endif %}
</title>
