// global
// responsive container size
body {
  @media screen and (max-width: $screen-sm) {
    margin: 0% 5%;
  }

  @media screen and (max-width: $screen-md) and (min-width: $screen-sm) {
    margin: 0% 5%;
  }

  @media screen and (max-width: $screen-lg) and (min-width: $screen-md) {
    margin: 0% 10%;
  }

  @media screen and (max-width: $screen-xl) and (min-width: $screen-lg) {
    margin: 0% 15%;
  }

  @media screen and (min-width: $screen-xl) {
    margin: 0% 20%;
  }
}

.content {
  padding-top: 20px;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#nav {
  margin: 0;
  padding: 30px 0px;

  a {
    font-weight: bold;
    color: $link;
    padding-right: 5px;

    &.current {
      color: lighten($primary, 5%);
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar-logo {
    // padding-left: 20px;
    display: inline-flex;
  }

  // dropdown
  div.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    right: 0;
    left: auto;
    border: 1px solid $stroke;

    -moz-box-shadow: -1px 1px 2px 2px darkgrey;
    -webkit-box-shadow: -1px 1px 2px 2px darkgrey;
    box-shadow: -1px 1px 2px 2px darkgrey;
  }

  .dropdown-content a {
    color: $stroke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: $background;

    &.current {
      color: lighten($primary, 5%);
    }

    &:not(:last-child) {
      border-bottom: 1px solid $stroke;
    }
  }

  .dropdown-content {
    a:hover,
    a:active {
      background-color: darken($secondary, 5%);
    }
  }

  .dropdown:hover,
  .dropdown:active {
    .dropdown-content {
      display: block;
    }
  }

  @media screen and (max-width: $screen-sm) {
    #links {
      display: none;
    }
  }

  @media screen and (min-width: $screen-sm) {
    #dropdown {
      display: none;
    }
  }
}

// #home {
.intro-card {
  // margin: auto;
  // width: 50%;
  padding: 10px;
  background-color: $tertiary;
  outline: $primary solid 2px;
  text-align: center;

  p {
    text-align: left;
  }

  @media screen and (min-width: $screen-md) {
    outline: $primary solid 3px;
  }
}

.intro-image-container {
  width: 45%;
  overflow: hidden;

  img {
    border-radius: 3px;
    width: 100%;
    object-fit: contain;
  }
}

.posts {
  padding-top: 20px;
  text-align: center;
}

.posts-title {
  h3 {
    // color: $secondary;
  }
}

.post-gallery {
  display: block;
}

.post-card {
  margin-bottom: 3%;

  padding: 10px;
  background-color: $tertiary;
  outline: $primary solid 2px;
  text-align: center;

  h4,
  h5 {
    color: $stroke;
  }

  p {
    text-align: left;
    color: $stroke;
  }

  &:hover,
  &:active {
    background-color: rgba($secondary, 0.4);
  }

  @media screen and (min-width: $screen-md) {
    outline: $primary solid 3px;
  }
}

// projects
.projects {
  padding-top: 20px;
  text-align: center;
}

.projects-title {
  h3 {
    // color: $secondary;
  }
}

.project-gallery {
  display: block;
}

.project-card {
  margin-bottom: 3%;
  padding: 10px;
  background-color: $tertiary;
  outline: $primary solid 2px;
  text-align: center;

  h4,
  h5 {
    color: $stroke;
  }

  p {
    text-align: left;
    color: $stroke;
  }

  &:hover,
  &:active {
    background-color: rgba($secondary, 0.4);
  }

  @media screen and (min-width: $screen-md) {
    outline: $primary solid 3px;
  }
}

.project-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  p {
    padding: 0px 10px;
    text-align: justify;
  }

  @media screen and (max-width: $screen-sm) {
    display: block;
  }
}
// }
