<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    {% include navigation.html %}
    <div id="home" class="content">
      <!-- Intro Section -->
      <div class="intro">
        <div class="intro-card">
          <h4>Keith Doggett</h4>
          <h5>Software Engineer | Geospatial & Analytics</h5>
          <p>
            Hi! I'm a software engineer with experience in geospatial computing,
            data analytics/visualization, and web scraping. I currently work at
            <a href="https://www.goldfishads.com" target="_blank"
              >Goldfish Ads</a
            >
            where I build tools for BI and the planning and reporting of media
            campaigns with insights based on non-personal, geographic data. Was
            a co-founder of GeoSwap which was acquired by Goldfish in 2019.
          </p>
          <p>
            My other technical interests include communications systems and
            sports data. I can be found running on the Schuylkill River Trail.
          </p>
        </div>
      </div>

      <!-- Posts -->
      <div class="posts">
        <div class="posts-title">
          <hr />
          <h3>Recent Posts</h3>
        </div>
        <div class="post-gallery">
          {% for post in site.categories.posts limit:3 %}
          <a href="{{post.url}}"
            ><div class="post-card">
              <h5>{{post.title}}</h5>
              <p>{{post.excerpt}}</p>
              <caption>
                {{post.date | date_to_string}}
              </caption>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>

      <!-- Projects -->
      <div class="projects">
        <div class="projects-title">
          <hr />
          <h3>Projects</h3>
        </div>
        <div class="project-gallery">
          {% for project in site.categories.projects limit:3 %}
          <a href="{{project.url}}"
            ><div class="project-card">
              <h5>{{project.title}}</h5>

              {% if project.img %}
              <div class="project-card-body">
                <img
                  width="400"
                  src="{{site.baseurl}}/assets/images/{{project.img}}"
                />
                <p>{{project.excerpt}}</p>
              </div>
              {% else %}
              <p>{{project.excerpt}}</p>
              {% endif %}
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>

    {{content}}
  </body>
</html>
