<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navigation.html %}
    <div class="content">
      <div class="posts">
        <div class="post-gallery">
          {% for post in site.posts limit:3 %}
          <a href="{{post.url}}"
            ><div class="post-card">
              <h5>{{post.title}}</h5>
              <p>{{post.excerpt}}</p>
              <caption>
                {{post.date | date_to_string}}
              </caption>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
